:root {
    --primary-color: #28a745;
    --primary-color-hover: #5fd479;
    --secondary-color: #dc3545;
    --background-color: #f4f4f4;
    --text-color: #333; 
    --border-color: #ccc; 
    --padding-default: 10px; 
    --gap-default: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}


.todo-container {

    border: 1px solid var(--border-color);
    width: 85%;
    height: 80%;

    max-width: 85%;
    max-height: 80%;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: var(--gap-default);

    padding: var(--gap-default);

    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    position: relative;

}

.todo-container .formTask {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-default);
}


.todo-container .formTask .taskInputContainer .screenReader {
    display: none;
}

.todo-container .formTask .taskInputContainer input{
    width: 100%;
    padding: var(--padding-default);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 16px;
}

.input-container input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.todo-container .formTask button{
    padding: var(--padding-default);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.todo-container .formTask button:hover {
    background-color: var(--primary-color-hover)
}



.todo-container .task-container {
    height: 90%;
    max-height: 90%;

    display: flex;
    flex-direction: column;
    gap: var(--gap-default);
}

.todo-container .task-container .errorMsg {
    display: flex;
    align-self: flex-start;
    color: var(--secondary-color);
}

.todo-container .task-container .task {
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-default)
}

.todo-container .task-container .task:hover {
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.todo-container .task-container .task .options {
    display: flex;
    gap: 5px;
}

.todo-container .task-container .task .options #completeTaskBtn,  #editTaskBtn, #removeTaskBtn {
    cursor: pointer;
}

.todo-container .task-container .task .options #removeTaskBtn {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 50%;
    padding: 5px;
}

.todo-container .task-container .task .options #removeTaskBtn:hover {
    scale: 0.8;
}

.todo-container .task-container .task .options #editTaskBtn {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 50%;
    padding: 5px;
}

.todo-container .task-container .task .options #editTaskBtn:hover {
    scale: 0.8;
}

.todo-container .task-container .task .options #completeTaskBtn {
    background-color: #28a3a7;
    color: var(--background-color);
    border-radius: 50%;
    padding: 5px;
}

.todo-container .task-container .task .options #completeTaskBtn:hover {
    scale: 0.8;
}



.todo-container #tasksLimit {
    width: 600px;
    max-width: 600px;
    height: 300px;
    max-height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);

    position: absolute;
    top: 80px;
    left:-8%;
    z-index: 200;

    border: 1px solid var(--border-color);
    border-radius: 8px;

}

.todo-container #tasksLimit .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-container #tasksLimit .modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-container #tasksLimit .modal-content h2 {
    font-size: 20px;
}

.todo-container #tasksLimit .modal-content .modalBtn {
    padding: var(--padding-default);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.todo-container #tasksLimit .modal-content .modalBtn:hover {
    background-color:  #5fd479;
}

.todo-container #tasksLimit.modal {
    display: none;
}






/*Telas com height até 559px*/
   
@media (max-height: 559px) {

    .todo-container {
        height: 80%;
    }

    .todo-container h1 {
        font-size: 16px;
    }

    .todo-container .formTask .taskInputContainer input{
        padding: 5px;
    }

    .todo-container .formTask button{
        padding: 5px;
    }

    .todo-container .task-container .task {
        padding: 5px;
    }
}


/*Telas com height até 699px*/
   
@media (min-height: 650px) and (max-height: 699px) {

    .todo-container {
        height: 75%;
    }
}

/*Telas com height até 800px*/
   
@media (min-height: 700px) and (max-height: 800px) {

    .todo-container {
        height: 70%;
    }
}

/*Telas com height até 900px*/
   
@media (min-height: 801px) and (max-height: 900px) {

    .todo-container {
        height: 60%;
    }
}


/*Telas com height até 1000px*/
   
@media (min-height: 901px) and (max-height: 1000px) {

    .todo-container {
        height: 55%;
    }
}

/*Telas com height a partir de 1001px até 1100px*/
   
@media (min-height: 1001px) and (max-height: 1100px) {

    .todo-container {
        height: 50%;
    }
}

/*Telas com height a partir de 1101px até 1200px*/
   
@media (min-height: 1101px) and (max-height: 1200px) {

    .todo-container {
        height: 45%;
    }
}

/*Telas com height a partir de 1201px até 1400px*/
   
@media (min-height: 1201px) and (max-height: 1400px) {

    .todo-container {
        height: 40%;
    }
}









/*Desktop*/

@media (min-width: 700px) {


.todo-container {

    max-width: 50%;
    max-height: 80%;


}

.todo-container .formTask {
    justify-content: center;
}

.todo-container .task-container .errorMsg {
    margin-left: 100px;
}


}